[Unit]
Description=Test Application Service
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=%h/app/current
ExecStart=/bin/sh -c 'java -jar %h/app/current/test-app-1.0.0.jar'
Restart=on-failure

[Install]
WantedBy=default.target
